.button {
  background-color: #13064b;
  color: white;
  margin: 10px;
  padding: 12px;
  border-radius: 5px;
}

.button:hover {
  background-color: #03031b;
}

.nextButton {
  background-color: #038ece;
  color: white;
  margin: 20px;
  padding: 6px;
  border-radius: 5px;
}

.nextButton:hover {
  background-color: #0724a5;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #101214;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navLink {
  color: #ecf0f1;
  text-decoration: underline;
}

.navLink:hover {
  color: #3498db;
}